<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SW Universe - Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
</head>

<body>
    <h2> SW Universe<br> Registration:</h2>
    <form action="/registration" method="POST">

        <div class='input_areas'>
            <p><input label='username' id='styled_title' type="text" name="username" minlength="5" placeholder="Username"></p>
            <p><input label='password' id='styled_title' type="text" name="password" minlength="5" placeholder="Password"></p>
            <p><input id='styled_reg_button' type="submit" value="Registration"></p>
        </div>

    </form>
</body>

</html>