<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to SW universe beta</title>
</head>

<body>
    <br>
    <h2>Welcome to SW universe beta! If You are a member then log in if not, just sign up for free!</h2>
    <a href="/index"><input id='styled_button' type="submit" value="log in"></a>
    <a href="/registration"><input id='styled_button' type="submit" value="sign up"></a>
</body>

</html>